# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/web/core
/web/libraries
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/web/sites/default/files
/web/update.php
/web/sites/README.txt
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/index.php

/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess

/web/sites/*/files
/web/sites/*/private
/web/sites/*/settings.php
/web/sites/*/services.yml

# Ignore Composer-managed dependencies.
/vendor/
/nbproject/private/
/.editorconfig
/.gitattributes

.directory
.editorconfig
.env
.history/
.gitattributes
k8s/
