# Database
DB_PASSWORD=drupal
MYSQL_ROOT_PASSWORD=root

# Domain
VIRTUAL_HOST={{project_slug}}.localhost
LETSENCRYPT_HOST={{project_slug}}.localhost

# Drupal
DRUPAL_DATABASE_HOST=mariadb
DRUPAL_DATABASE_NAME=drupal
DRUPAL_DATABASE_USER=drupal

# Redis
DRUPAL_REDIS_HOST=redis
DRUPAL_REDIS_PORT=6379

# Mailhog (development only)
MAILHOG_PORT=8025
